# Dependencies
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.test

# Optional editor directories
.vscode/
.idea/

# Optional Mac files
.DS_Store
